.gradient-text {
  background: linear-gradient(to right, #ff6b6b, #4ecdc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main-nav-background{
  background: linear-gradient(rgb(19, 34, 19),rgb(3, 102, 3));
}
.body-cards-container{
  background: linear-gradient(rgb(241, 239, 239),rgb(7, 168, 74),rgb(23, 186, 34));
  height: 500vh;
  text-align: center;
  
 
}


/* center full page */
.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

/* card style */
.form-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.form-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* form layout */
.form-card form {
  display: flex;
  flex-direction: column;
}

/* labels */
.form-card label {
  margin-top: 10px;
  font-weight: 500;
}

/* inputs */
.form-card input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

.form-card input:focus {
  border-color: #4cafef;
}

/* button */
.form-card button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #4cafef;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-card button:hover {
  background: #3797db;
}